{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'style_.css' %}">
    <title>View Answers</title>
</head>
<body>
    <nav class="navbar">
        <h2 class="text-success">Lascoco Quiz Hub</h2>  
        <a href="{% url 'user_index' %}">      
            <button class="btn btn-success">
     <svg width="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
</svg>
    Home
            </button>
        </a>   
    </nav>

<main>
    {% for question in questions %}
        {% for key,item in answers.items %}
            {% if key == question.id|slugify  %}
                {% if item == question.answer %}
    <div class="question passed">
        <div style="font-weight: bolder;" class="h6 text-success">passed</div>
        <h5>{{ question.question }}</h5>
        <p>
            <h5 class="text-muted">Solution</h5>  
            {{ question.solution }}</p>
    </div>
                {% else %}
       <div class="question wrong">
        <div style="font-weight: bolder;" class="h6 text-danger">failed</div>
        <h5>{{ question.question }}</h5>
        <p>
            <h5 class="text-muted">Solution</h5>  
            {{ question.solution }}</p>
    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</main>

<footer class="d-flex justify-content-center align-items-center"> 
    <div class="text-success"> <span class="h5">Quiz Hub |</span> <small class="text-muted">Powered by Innovation</small> 
        <div class="text-center h6">Lascoco 2025 &copy;</div> 
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>