{% extends 'front/base.html' %}
{% load static %}

{% block main %}
  <div class="container">
    <h3 align="center">About </h3>
    <p class="text-capitalize" >
      This Project is built in partial fufilment of the award of national diploma
      it was built by :
      <ul>
        <li>Oyeniyi Kehinde Michael</li>
        <li>David Liberty Samuel</li>
      </ul>
   <p class="text-capitalize">
       these project was inspired by the need to find a solution to the traditional methods of 
      recording library transactions and to also build a type of connection between student and the library
      by adding a quiz module to this application 
   </p>
      <h3>Quotes By Developers and Contributors</h3>
      <div class="card mb-4">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="text-capitalize">Curiosity is the key to unlock new Ideas</p>
            <footer class="blockquote-footer">
              LASCOCO
              <cite title="Source title">Kehinde Oyeniyi</cite>
            </footer>
          </blockquote>
        </div>
      </div>

         <div class="card mb-4">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="text-capitalize">in life every situation you find your self there is 
              something worst than that
            </p>
            <footer class="blockquote-footer">
              LASCOCO
              <cite title="Source title">Engr. Abdulquadri Lukman</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="card ">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="text-capitalize">For You To Start "You have to start"</p>
            <footer class="blockquote-footer">
              LASCOCO
              <cite title="Source title">Kehinde Oyeniyi</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      
    </p>
  </div>
{% endblock main %}